langchain
numpy
pandas
hana-ml>=2.24.25040300
langchain-community
langchain-core
langchain-experimental
langchain-text-splitters
langchain-aws
langchain-community
langchain-openai
langchain-core
langgraph
python-dotenv
pydantic
pydantic-core
rdflib>=7.1.3
hdbcli>=2.23.26
pypdf>=5.2.0
pdfplumber>=0.11.5
generative-ai-hub-sdk[all]